<div ng-controller="mainController as main">
    <div ng-if="main.staff.length > 0">
        <div class="row marketing">
            <simple-table keys="main.keys" data="main.staff"></simple-table>
        </div>
        <div class="row marketing" >
            <label>Diagram show</label>:
            <select ng-model="main.selected" ng-options="key as key for key in main.keys"></select>
        </div>
        <div class="row marketing">
            <d3-pie keys="main.keys" field="main.selected" height="450" width="650" data="main.staff"></d3-pie>
        </div>
    </div>
    <div ng-if="main.staff.length == 0"><b>Data not found</b></div>
</div>